body{
  // background-color: #5cdb95;
  // background: radial-gradient(690px at 50% 50%,rgba(92,219,149, .87) 0,rgba(107, 187, 138, 0.87) 100%);
  // background: radial-gradient(690px at 50% 50%,rgba(9,156,236,.87) 0,rgba(6,109,165,.87) 100%);
  //  142, 228, 175
}

.login-container{
  margin: 100px auto auto auto;
  min-height: 600px;
  max-width: 480px;
  padding-left: 12px;
  padding-right: 12px;
  

  // background-color: red;
}

.form-container{
  background-color: white;
  border-style: solid;
  border-color: rgba(83, 83, 83, 0.2);
  border-width: 1px;
  border-radius: 0.5rem; 

  
  min-height: 600px;
  width: 100%;
  height: 100%;
  padding: 3px;

  -webkit-box-shadow: 0px 16px 20px 6px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 16px 20px 6px rgba(0,0,0,0.1);
  box-shadow: 0px 16px 20px 6px rgba(0,0,0,0.1);

  
}

.login-form{
  margin: auto auto auto auto;
  padding: 6px;
  min-height: 586px;
  width: 99%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.login-logo{
  margin-top: 2rem; 
}

h4{
  margin-top: 3rem; 
  margin-bottom: 2rem;
  line-height: 170%;
  color: #05386b;
  font-weight: normal;
}

span{
  font-weight: bold;
  font-size: 2rem;
}

.login-form-items{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  min-width: 320px;
  width: 100%;
}

.login-item {
  margin-bottom: 2rem;
  width: 100%;
  font-size: 1px;
} 

.footer-options{
  color: #05386b;
  font-weight: 900;
  width: 65%;
  margin: 60px auto auto auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 13px;
}

.footer-options h6{
  width: 50%; 
  font-size: 12px;
}

.button{
  width: 50%;
  height: 2rem;
  color: white; 
  font-size: 13px;
  border-radius: 0.2rem;
  border: none;  
  background-color: #05386b;
}

.login-item-border{
  border-left-style: solid;
  border-left-width: 1px;
  border-left-color: #05386b;
}
